.card-img-overlay {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 1.25rem;
    border-radius: 0.8rem;
}

.card-img {
    flex-shrink: 0;
    width: 100%;
}



.card-columns {
    padding-top: 15px;
}

@media (min-width: 420px) {
    .card-columns {
        column-count: 2;
        column-gap: 0.5rem;
        orphans: 2;
        widows: 2 !important;
    }
}

@media (min-width: 576px) {
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }

    .card-columns {
        column-count: 3;
        column-gap: 0.5rem;
        orphans: 4;
        widows: 4;
    }

    .container {
        max-width: 98%;
    }
}

@media (min-width: 796px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.125rem;
        orphans: 4;
        widows: 4;
    }
}

@media (min-width: 966px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .container {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}


.h2.mb-2 {
    margin: auto;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    font-family: Roboto;
    letter-spacing: -0.125px;
    text-shadow: 0.25pt 0.3pt 1pt #343a40, 0.75pt 1.3pt 2pt #343a40;
    text-overflow: clip;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.badge-warning2 {
    justify-items: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(
    135deg,
    transparent 0,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  ) !important;
    background-color: rgba(230, 230, 230, 0.45) !important;
    border-radius: 6px;
    border-color: #ffffff99 #ffffff60 #0001 #ffffff50 !important;
    backdrop-filter: blur(11px) saturate(110%) !important;
    box-shadow: 0 1px 5px 1px rgb(41 41 41 / 45%),
    0 0.33em 0.725em -0.455em rgb(0 0 0 / 40%),
    inset 0 0.0625em 0 rgb(255 255 255 / 50%),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 28%) !important;
    border: 2px outset rgba(255, 255, 255, 0.3) !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1666666667em !important;
    line-height: 18px;
    text-shadow: 0.25px 0.25px 0.85px #f8f9fa,
    0.125px 0.125px 1px rgb(83 97 110 / 83%);
    color: #22262a !important;
}
